.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  /* gap: 10px; */
  background-color: rgba(44, 117, 163, 0.37);
  
  & p {
    font-size: 30px;
    font-weight: bold;
  }
  
  .bombilla {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .cajas {
 
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    & .caja1 {
      width: 200px;
      height: 200px;

    }
  }
}

.iterar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.contar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}


.three-count {
  display: flex;
  align-items: center;
  gap: 20px;

  & button {
    width: 50px;
    padding: 5px;
    border: 0;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    color: rgb(11, 158, 216);
  }
}